[submodule "pycmake"]
    path = python/pycmake
    url = git://github.com/equinor/pycmake.git
    branch = 21f1eb9
[submodule "pybind11"]
    path = python/pybind11
    url = git://github.com/pybind/pybind11.git
    branch = add56ccdcac23a6c522a2c1174a866e293c61dab
