################################################################
# Packages used 
numpy

################################################################
# TensorFlow v.2.1 and above include both CPU and GPU versions.
tensorflow

################################################################
# Keras
keras

################################################################
